# Utilities
requests==2.25.1
python-dotenv==0.17.0

# flask
Flask==1.1.2
Flask-RESTful==0.3.8

# opentelemetry
opentelemetry-api==1.0.0
opentelemetry-sdk==1.0.0
opentelemetry-instrumentation-flask==0.19b0
opentelemetry-instrumentation-requests==0.19b0

# opentelemetry exporter
opentelemetry-exporter-jaeger==1.0.0
